<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
    <script src="main.js"></script>
</head>
<body>
    <form action="/addNew/OK" method= "post" encType="multipart/form-data" id="uploadForm">
        <div>
                <label class="keys" for = "firstname">First Name :</label>
                <input id = "firstname" name = "firstName" type="text" /></br>
                <label class="keys" for = "lastname">Last Name :</label>
                <input id = "lastname" name = "lastName" type="text" /></br>
                <label class="keys" for = "title">title :</label>
                <input id = "title" name = "title" type="text" /></br>
                <label class="keys" for = "nationality">nationality :</label>
                <input id = "nationality" name = "nationality" type="text" /></br>
                <label class="keys" for = "src">src :</label>
                <input id = "src" name = "src" type="file" /></br>
                <label class="keys" for = "alt">alt :</label>
                <input id = "alt" name = "alt" type="text" /></br>
                <label class="keys" for = "skills">skills :</label>
                <input id = "skills" name = "skills" type="text" /></br>
                <label class="keys" for = "whysofterDeveloper">why software Developer :</label>
                <input id = "whysofterDeveloper" name = "whysofterDeveloper" type="text" /></br>
                <label class="keys" for = "longtermvision">long term vision :</label>
                <input id = "longtermvision" name = "longtermvision" type="text" /></br>
                <label class="keys" for = "motivatesme">motivates me :</label>
                <input id = "motivatesme" name = "motivatesMe" type="text" /></br>
                <label class="keys" for = "favoritequote">favorite quote :</label>
                <input id = "favoritequote" name = "favoriteQuote" type="text" /></br>
                <label class="keys" for = "joinedon">joined On :</label>
                <input id = "joinedon" name = "joinedOn" type="text" /></br>
                <input type="submit" value = "OK">                
        </div>
    </form>
</body>
</html>