<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
    <script src="main.js"></script>
</head>
<body>
    <div class="main-container">
        <div class="left-indv-container">
            <button id="left-btn"><</button>
            <div class="indiv-image" >
                <% info.forEach(item=>{ %>
                    <% function capitalize(string){return string.charAt(0).toUpperCase() + string.slice(1);} %>
                    <img  src= <%= `/images/${capitalize(item.src)}` %>>
                <% }) %>   
            </div>
        </div>
        <div class="right-indv-container">
            <div>
                <% info.forEach(item=>{ %>
                    <% keys = Object.keys(item); %>
                    <% keys.forEach(key=>{ %>
                        <p class="key-name"><span><%= key %> :</span> <%= item[key] %></p>
                    <% }) %>
                <% }) %>   
            </div>
            <button id="right-btn">></button>
        </div>
        <% info.forEach(item=>{ %>
            <form id= "delete-btn"  method="delete" encType="multipart/form-data" action=<%= `/indv-files/${item.lastName}` %>>
                <input  type="submit"  value = "Delete">
            </form>
        <% }) %>  
    </div>
</body>
</html>